html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
  margin: 0;
  display: block;
}

.app {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: cadetblue;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  width: 80%;
  border-bottom: 1px dotted burlywood;
}

.score {
  font-size: 1.2rem;
  color: whitesmoke;
}

.board {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 50vw;
}

.board .row {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.board .row .cell {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;

  justify-content: center;
  align-items: center;
  font-size: 5rem;
  user-select: none;

  background-color: cadetblue;
  border: 1px solid burlywood;
}

.board .row .cell.Empty {
  cursor: pointer;
  content: " ";
}

.board .row .cell.X {
  color: whitesmoke;
  user-select: none;
  cursor: not-allowed;
}

.board .row .cell.O {
  color: teal;
  user-select: none;
  cursor: not-allowed;
}
